<.flash_group flash={@flash} />

<h1 class="text-xl font-bold">Plugins</h1>

<%= for plugin <- @plugins do %>
  <div class="flex">
    <.link href={~p"/plugins/#{plugin.id}"}>
      <p class="">
        <%= plugin.title %> <span class="text-gray-500">v<%= plugin.version %></span>
      </p>
    </.link>
  </div>
<% end %>
